body {
    margin: 0;
    background-color: lightslategray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: fixed;
    top: 0;
}

.button {
    border: none;
    background-color: rgb(46, 60, 69);
    color: lightgray;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: lightgray;
    text-decoration-line: underline;
}

th {
    padding: 1rem;
    border-bottom: 2px solid lightslategray;
}

table {
    padding: 1mm;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 1mm;
    border: 1px solid lightslategray;
}

.bgd {
    left: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(46, 60, 69);
    color: lightgray;
}

.c {
    left: 4rem;
    text-align: center;
    display: inline-block;
    float: left;
}

.r {
    text-align: right;
    display: inline-block;
    float: right
}

.w {
    width: 100%
}

.z {
    z-index: 10
}

.menu {
    margin-top: 0;
    padding: 0;
}

.menu > li {
    display: inline-block;
    padding: 1rem;
}

.menu > li > a, span {
    font-weight: bold;
    color: lightgray;
    text-decoration: none;
}

/*.login {*/
/*    position: fixed;*/
/*    text-align: right;*/
/*    right: 1rem;*/
/*    z-index: 10;*/
/*}*/
/*.login > li {*/
/*    display: inline-block;*/
/*    padding: 1rem;*/
/*}*/

.win {
    /*background-color: rgb(46, 60, 69);*/
    margin-top: 4rem;
}

.msg {
    padding: 1rem;
    right: 1rem;
    text-align: center;
    position: absolute;
    background-color: rgb(46, 60, 69);
    color: lightgray;
}

.txtb {
    font-size: x-large;
}

.footer {
    text-align: center;
    padding: 0;
    bottom: 0;
}